//@import '_font.scss';

$primary-color: #111111;
$second-color: #00ff3d;
$big-font-size: 4.3vw;
$big-font-mobile: 5.8vw;
$font-mobile: 18px;
$global-padding: 36px;
$mobile-padding: 5vw;

@import '_init.scss';
@import '_theme.scss';